<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.wtech.core" use-default-filters="false">
        <!--<context:include-filter type="assignable" expression="com.wtech.core.motor.Motor"/>-->
        <context:include-filter type="assignable" expression="com.wtech.core.motor.ElectricMotor"/>
    </context:component-scan>

    <!-- THOSE ARE NOT NECESSARY USING THE COMPONENT SCAN WITH INCLUDE FILTER ABOVE-->
    <!--<bean id="electricMotor1" class="com.wtech.core.motor.ElectricMotor1"/>-->
    <!--<bean id="electricMotor2" class="com.wtech.core.motor.ElectricMotor2"/>-->

    <bean id="engine" class="com.wtech.core.parts.Engine">
        <constructor-arg index="0" value="v4"/>
        <constructor-arg index="1" value="2"/>
    </bean>

    <bean id="transmission" class="com.wtech.core.parts.Transmission">
        <constructor-arg value="sliding"/>
    </bean>

    <!-- BOTH CASES WORK FINE -->
    <!--<bean id="modelX" class="com.wtech.core.car.TeslaModelX" autowire="byType"/>-->
    <!--<bean id="modelX" class="com.wtech.core.car.TeslaModelX" autowire="constructor"/>-->
    <bean id="modelX" class="com.wtech.core.car.TeslaModelX" autowire="byType"/>
</beans>
